
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Abone Tablosu</h4>
            <p class="card-description">
                Gelen abonelerin durumu aşağıdaki gibidir.
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          
                            <th>Mail</th>
                         
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          
                            <td>abone mail adresi burada</td>
                        
                            <td> <button type="button" class="btn btn-outline-dark btn-fw">Detay</button></td>

                        </tr>
                        <tr>
                            <td>abone burada</td>
                            <td> <button type="button" class="btn btn-outline-dark btn-fw">Detay</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


